
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #fff0f5;
  color: #444;
}

/* reusable */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #ff69b4;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  transition: 0.3s;
}

.btn:hover {
  background: #ff1493;
}